html, body {
	height: 100%;
}

body {
	background-color: #1C3144;
	color: #FFFFFF;
	display: grid;
	font-family: 'sans-serif';
	place-items: center; /* csslint allow: known-properties */
}

div {
	display: inline-block;
	text-align: center;
}

.logo {
	height: 6em;
	width: 6em;
}

h1 {
	border-bottom: 3px solid #DB6B6B;
	font-weight: normal;
	margin-bottom: 0.2em;
	padding-bottom: 0.05em;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 0;
}