main {
	margin: auto;
	padding-bottom: 8rem;
	font-size: 1.2rem;
	max-width: 800px;
}

main a {
	color: #db6b6b;
	transition: color 0.3s ease-in-out;
}

main a:hover {
	color: #bf4d4d;
}

main h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #db6b6b;
}

main h3 {
	color: #db6b6b;
}

main article {
	box-sizing: border-box;
	padding: 2rem;
	padding-top: 4rem;
	text-align: center;
	width: 100%;
}

main article p {
	text-align: justify;
}

main article::after {
	clear: both;
	content: '';
	display: block;
	width: 100%;
}

@media only screen and (min-width: 800px) {
	main article {
		padding-top: 8rem;
	}
}
