.splash {
	background: url("/static/background.png") center/auto no-repeat;
	color: #fff;
	display: grid;
	height: 100vh;
	overflow: hidden;
	place-items: center;
	position: relative;
	width: 100%;
}

.splash_background {
	min-height: 100%;
	min-width: 100%;
}

.splash_content {
	display: none;
}

@media only screen and (min-width: 800px) {
	.splash {
		position: sticky;
		top: calc(-100vh + 6em);
	}

	.splash_content {
		display: grid;
		height: 100%;
		left: 0;
		place-items: center;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
	}

	.splash_content h1 {
		border-bottom: 5px solid #db6b6b;
		font-size: 3em;
		margin-bottom: 0;
	}

	.splash_content h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		margin-top: 0.3em;
	}
}
